@font-face {
  font-family: UniSans;
  src: url("../fonts/uni-sans/Uni\ Sans\ Heavy.otf") format("opentype");
}

@font-face {
  font-family: UniSans;
  font-weight: bold;
  src: url("../fonts/uni-sans/Uni\ Sans\ Heavy\ Italic.otf") format("opentype");
}

*{ font-family: "UniSans", sans-serif }
/* boton de ir para arriba */

.text-gray-500{
  color: #DC3545 !important;
}
.text-gray-900{
  color: #DC3545 !important;
  font-weight:900;
}
#back-to-top{
  position: fixed;
  right: 10px;
  bottom: 10px;
  display:none;
}




body {
  min-height: 1000px;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

.demo {
  margin: 0 auto;
  padding-top: 32px;
  max-width: 640px;
  width: 94%;
}

.demo h1 {
  margin-top: 0;
}

/**
 * Footer Styles
 */

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  display: grid;
  place-items: center;
}
.wrapper {
  display: inline-flex;
}

.wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}

.topvar{
  background: rgba(52,58,64,1);
  /* background: linear-gradient(0deg, rgba(52,58,64,1) 0%, rgba(173,30,30,1) 99%); */
}

.space-x-8 a{
  text-decoration: none;
}

#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  opacity: 0.5;
  background-color: #333333;
  z-index: 99;
  text-align: center;
}

#loading-image {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
}

[type='checkbox']{
  color: #de463b;
}

.vertical-center{
  text-align: center;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
*{
  font-size: 101%;
}


.cookie-consent {
  border: solid 3px white;
  border-radius: 5px;
  background-color: #DC3545;
  color:white;
  padding: 10px;
  position: fixed;
  width: 80%;
  left: 10%;
  bottom: 0px;
  z-index: 5;
}

.modal-content{
  backdrop-filter: blur( 20.0px )!important;
  background: rgba(255, 86, 86, 0.50)!important;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37)!important;
  -webkit-backdrop-filter: blur( 20.0px )!important;
  border-radius: 10px!important;
  border: 1px solid rgba( 255, 255, 255, 0.18 )!important;
}

.solo-blur{
  backdrop-filter: blur( 20.0px )!important;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37)!important;
  -webkit-backdrop-filter: blur( 20.0px )!important;
}
    

/* PAGINACION */

.page-item.active{
  background-color:#DC3545!important;
  color:white;
}

.page-item.active .page-link{
  background-color:#DC3545!important;
  color:white;
  border: none;
}

.page-link{
  color: #DC3545;
}.page-link:hover{
  color: #DC3545;
}

nav{
  margin: auto;
}