@import "upload_file.css";

.container_image_edit{
    position: relative;
}
.container_image_edit:hover .image_edit{
    opacity: 0.3;
}
.container_image_edit:hover .remove_img{
    opacity: 1;
}

.remove_img{
    transition: .5s ease;
    opacity:0%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.x_img{
    color:red;
    cursor: pointer;
    font-size: 50px;
}
.image_edit{
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

@media (max-width: 780px) {
    .remove_img{
        opacity:75%;
    }
    .image_edit{
        opacity: 0.5;
    }
}

.carousel-inner {
    width: 100vw;
    height: 50vh;
    align-items: center;
}
.carousel-item {
    height: 100%;
}
.carousel-item img{
    height: 100%;
    margin: auto;
    padding: 10px;

}


.modal-dialog-centered{
    max-width: 75%!important;
}
#modalAfegir .modal-dialog-centered{
    min-width: 100%!important;
}

label{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.form-text{
    font-size: 16px;
}
.card{
    backdrop-filter: blur( 15.0px );
    background: rgba(8, 8, 8, 0.568)!important;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37)!important;
    -webkit-backdrop-filter: blur( 15.0px )!important;
    border-radius: 10px!important;
    border: 1px solid rgba(134, 134, 134, 0.18)!important;
}
