/* eliminar una imagen al editar coche */
.container_image_edit{
    position: relative;
}
.container_image_edit:hover .image_edit{
    opacity: 0.3;
}
.container_image_edit:hover .remove_img{
    opacity: 1;
}

.remove_img{
    transition: .5s ease;
    opacity:0%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.x_img{
    color:red;
    cursor: pointer;
    font-size: 50px;
}
.image_edit{
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}



/* añadir una imagen al coche */
.container_add_image{
    position: relative;
}
.container_add_image:hover .add_image{
    opacity: 0.3;
}
.container_add_image:hover .add_img{
    opacity: 1;
}
.add_img{
    transition: .5s ease;
    opacity:0%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.add_img{
    transition: .5s ease;
    opacity:0%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.plus_img{
    color:red;
    cursor: pointer;
    font-size: 50px;
}